<clr-modal [(clrModalOpen)]="isDeleteDialogOpen">
    <h3 class="modal-title">Delete Employee</h3>
    <div class="modal-body">
      <div class="text-justify light-color">Deleting this employee will reassign all their direct reportees to the employee's manager. Confirm this action to remove the employee from organization chart and update the reporting hierarchy accordingly</div>
      <form clrForm clrLayout="horizontal">
        <clr-input-container>
          <label class="clr-col-4" for="employee">Employee Name</label>
          <input
              class="clr-col-8"
              id="employee"
              clrInput
              [value]="selectedEmployee?.name"
              readonly
          />
          </clr-input-container>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline" (click)="closeDialog()">Cancel</button>
      <button class="btn btn-danger" (click)="confirmDelete()">Delete</button>
    </div>
  </clr-modal>