<p-organizationChart
  [value]="(employees$ | async) || []"
>
  <ng-template let-node pTemplate="person">
    <div class="employee-node">
      <div class="node-header">
        <span> <strong>{{ node.data.name }}</strong></span>
        <span
          class="settings-icon pi pi-cog"
          (click)="openContextMenu($event, node)"
        ></span>
      </div>
      <div class="node-body">
        <div class="user-icon-container">
          <span class="user-icon pi pi-user"></span>
        </div>
        <div class="desc-container">
          <div class="designation">{{ node.data.designation }}</div>
          <div class="email"><strong>Email:</strong> {{ node.data.email }}</div>
          <div class="phone"><strong>Phone:</strong> {{ node.data.phone }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-organizationChart>

<!-- PrimeNG Context Menu -->
<p-contextMenu #contextMenu [model]="contextMenuItems" [baseZIndex]="1000"></p-contextMenu>
