:host ::ng-deep .p-organizationchart {
    .p-person {
        min-width: 300px;  /* Set desired width */
        min-height: 112px; /* Set desired height */
        padding: 0;
        border: 0 none;
        border-radius: 3px;
        overflow: hidden; /* Prevent overflow of content */
    }

    .p-node-toggler {
        display: none !important;
    }
}

:host ::ng-deep .p-contextmenu .p-menuitem > .p-menuitem-content .p-menuitem-link {
    padding: 5px!important;
}

.employee-node {
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background: transparent;
    position: relative;
  }
  
  .node-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
  
  .settings-icon {
    cursor: pointer;
    font-size: 16px!important;
  }

  .user-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 0px;
  }

  .user-icon {
    cursor: pointer;
    height: 50px;
    width: 50px;
  }
  
  .node-body {
    margin-top: 10px;
    display: flex;
    text-align: left;
  }
  
  .node-body .name {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .node-body .designation {
    font-size: 14px;
  }
  
  .node-body .email,
  .node-body .phone {
    font-size: 12px;
  }
  