<clr-datagrid [clrDgLoading]="loading" [clrDgSelected]="[]" *ngIf="(employees$ | async) as employees">
    <!-- Employee Name Column -->
    <clr-dg-column>Employee Name</clr-dg-column>
    <clr-dg-column>Employee ID</clr-dg-column>
    <clr-dg-column>Designation</clr-dg-column>
    <clr-dg-column>Email</clr-dg-column>
    <clr-dg-column>Phone</clr-dg-column>
    <clr-dg-column>Manager</clr-dg-column>
  
    <!-- Data Rows -->
    <clr-dg-row  *clrDgItems="let employee of employees" [clrDgItem]="employee">
        <!-- Context Menu in Actions Column -->
      <clr-dg-action-overflow
        [clrDgActionOverflowButtonLabel]="clrDgActionOverflowButtonLabel"
        >
          <button class="action-item" (click)="addReportee(employee)">Add Reportee</button>
          <button class="action-item" (click)="editDetails(employee)">Edit Details</button>
          <button class="action-item" (click)="deleteEmployee(employee)">Delete Employee</button>
          <button class="action-item" (click)="changeReportingLine(employee)">Change Reporting Line</button>
      </clr-dg-action-overflow>

      <clr-dg-cell>{{ employee.name }}</clr-dg-cell>
      <clr-dg-cell>{{ employee.id }}</clr-dg-cell>
      <clr-dg-cell>{{ employee.designation }}</clr-dg-cell>
      <clr-dg-cell>{{ employee.email }}</clr-dg-cell>
      <clr-dg-cell>{{ employee.phone }}</clr-dg-cell>
      <clr-dg-cell>{{ employee.manager == null ? '-' : (employee.manager.name + ' (' + employee.manager.id + ')') }}</clr-dg-cell>
    </clr-dg-row>
  
    <!-- Pagination -->
    <clr-dg-footer>
      <span style="float: left;">{{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} / {{ pagination.totalItems }}</span>
      <clr-dg-pagination #pagination>
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
  