<!-- Clarity Design Modal -->
<clr-modal [(clrModalOpen)]="showDialog" [clrModalSize]="'md'" [clrModalPreventClose]="true" (clrModalAlternateClose)="onCancel()">
    <h3 class="modal-title">Edit Employee</h3>
    <div class="modal-body">
      <div class="text-justify light-color">Edit employee details like name, designation, email and phone number to update their profile in organization chart.</div>
      <div *ngIf="selectedEmployee" class="clr-form clr-form-compact">
        <form [formGroup]="reporteeForm">
  
          <!-- Manager Name -->
          <clr-input-container>
              <label for="manager">Manager Name</label>
              <input
                  id="manager"
                  clrInput
                  [value]="selectedEmployee.manager?.name ?? '-'"
                  readonly
              />
              </clr-input-container>
  
          <!-- Employee Name -->
          <clr-input-container>
            <label for="name">Employee Name</label>
            <input
              id="name"
              clrInput
              formControlName="name"
              placeholder="Enter Employee Name"
              maxlength="30"
              required
            />
            <clr-control-error *ngIf="reporteeForm.get('name')?.hasError('required')">
              Employee Name is required.
            </clr-control-error>
          </clr-input-container>
  
          <!-- Designation Dropdown -->
          <clr-select-container>
              <label for="designation">Designation</label>
              <select
                id="designation"
                clrSelect
                formControlName="designation"
                required
              >
                <option value="">Select Employee Designation</option>
                <option *ngFor="let designation of designations" [value]="designation">
                  {{ designation }}
                </option>
              </select>
              <clr-control-error *ngIf="reporteeForm.get('designation')?.hasError('required')">
                  Designation is required.
                </clr-control-error>
            </clr-select-container>
  
          <!-- Email -->
          <clr-input-container>
            <label for="email">Email ID</label>
            <input
              id="email"
              clrInput
              formControlName="email"
              placeholder="Enter Email ID"
              maxlength="50"
              required
            />
            <clr-control-error *ngIf="reporteeForm.get('email')?.hasError('required')">
              Email is required.
            </clr-control-error>
            <clr-control-error *ngIf="reporteeForm.get('email')?.hasError('email')">
              Please enter a valid email address.
            </clr-control-error>
          </clr-input-container>
  
          <!-- Phone Number -->
          <clr-input-container>
            <label for="phone">Phone Number</label>
            <input
              id="phone"
              clrInput
              formControlName="phone"
              placeholder="Enter Phone Number"
              maxlength="10"
              required
            />
            <clr-control-error *ngIf="reporteeForm.get('phone')?.hasError('required')">
              Phone Number is required.
            </clr-control-error>
            <clr-control-error *ngIf="reporteeForm.get('phone')?.hasError('pattern')">
              Please enter a valid 10-digit phone number.
            </clr-control-error>
          </clr-input-container>
        </form>
      </div>
    </div>
  
    <div class="modal-footer">
      <button class="btn btn-outline" (click)="onCancel()">Cancel</button>
      <button class="btn btn-primary" (click)="onAddReportee()">Save Details</button>
    </div>
  </clr-modal>
  