.tab-margin {
    margin: 32px;
}

.active-button {
    background-color: var(--cds-alias-status-info);
    color: white;
    border-color: var(--clr-btn-primary-outline-border-color);
  }

  .active-button > cds-icon {
    color: white;  /* Change icon color to white */
  }