<div class="main-container">
 <div  class="clr-row" class="tab-margin container text-center">
    <div class="btn-group btn-outline-primary">
        <button class="btn"
        routerLink="/employee/graph" 
        routerLinkActive="active-button"
        [routerLinkActiveOptions]="{ exact: true }">
          <cds-icon shape="home"></cds-icon>
          Graph View
        </button>
        <button class="btn"
        routerLink="/employee/grid" 
        routerLinkActive="active-button"
        [routerLinkActiveOptions]="{ exact: true }">
          <cds-icon shape="cog"></cds-icon>
          Grid View
        </button>
      </div>
 </div>
    
    <!-- <div>

      <app-table-view [employeeList]="paginatedEmployees$ | async" (add)="addReportee($event)"></app-table-view>
    </div> -->

    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <!-- Add Reportee Component -->
    <app-add-reportee #addReporteeDialog></app-add-reportee>

    <!-- Edit Employee Component -->
    <app-edit-employee #editEmployeeDialog></app-edit-employee>

    <!-- Delete Employee Component -->
    <app-delete-employee #deleteEmployeeDialog></app-delete-employee>

     <!-- Change Manager Component -->
     <app-change-manager #changeManagerDialog></app-change-manager>
</div>
